In [6]:
# A notebook to interrogate the timestep data from a pe0 log.
import pandas as pd
import sys
import io
from pathlib import Path

In [2]:
PE_DIR=Path('/g/data/gb02/pag548/sapphire_logs/1km_68_68/work/Flagship_ERA5to1km_1km_RAL3P2_um_fcst_000/pe_output')

In [3]:
pe0_file = PE_DIR / 'umnsa.fort6.pe0'

In [9]:
csv_buffer = io.StringIO()
csv_lines = []

with open(pe0_file, 'r') as fp:
    for index, line in enumerate(fp):
        if 'Atm_Step: Info: Starting' in line:
            csv_lines.append(line)

In [10]:
for line in csv_lines:
    csv_buffer.write(f'"{line}"\n')

In [22]:
csv_buffer.seek(0)
df = pd.read_csv(csv_buffer, header=None, sep='\t')

In [23]:
df

                                                     0
0    Atm_Step: Info: Starting timestep        0 at ...
1    Atm_Step: Info: Starting timestep        1 at ...
2    Atm_Step: Info: Starting timestep        2 at ...
3    Atm_Step: Info: Starting timestep        3 at ...
4    Atm_Step: Info: Starting timestep        4 at ...
..                                                 ...
356  Atm_Step: Info: Starting timestep      356 at ...
357  Atm_Step: Info: Starting timestep      357 at ...
358  Atm_Step: Info: Starting timestep      358 at ...
359  Atm_Step: Info: Starting timestep      359 at ...
360  Atm_Step: Info: Starting timestep      360 at ...

[361 rows x 1 columns]

In [15]:
line

'Atm_Step: Info: Starting timestep      360 at time=   806.503 seconds\n'